/* your css files here  */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Dosis:wght@200..800&display=swap');

* {
    text-decoration: none;
    list-style: none;
}
html{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}

body{
    background-color: #c3c3c3;
}
footer{
    background-color: #3c3c3c;
}