/* your css files here  */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Dosis:wght@200..800&display=swap');

* {
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}

body{
    background-color: #292929;
}

nav{
    background-color: #000000;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    padding-inline-end: 15%;
    align-items: center;
}

.navlogo, .footerlogo{
    max-width: 10%;
    padding-inline-start: 50px;
}
nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
}

nav ul{
    flex-direction: row;
    /* padding-block: 20px; */
    padding-inline-start: 50%;
    justify-content: space-around;
    /* float: right; */
}
#contact{
    background-color: #000000;
    border: 2px, solid, #ffffff;
    border-radius: 5px;
}
#contact:hover{
    border-color: #3c3c3c;
    color: #000000;
    background-color: #ffffff;
}
.active{
    background-color: #3c3c3c;
}

#hero{
    padding-block: 180px;
    padding-inline: 120px;
}

.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 180px 120px;
    gap: 40px;
    /* background-image: url(./media/13.png);
    background-color: #292929; */
}

.projects{
    border: 2px solid #3c3c3c;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
}

div.projects button{
    color: #3c3c3c;
    font-size: x-large;
    width: 100%;
}

footer{
    background-color: #3c3c3c;
    height: 250px;
    padding-block: 50px;
    align-items: center;
}

footer > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footsocial, .footcon{
    /* border-left: 2px solid #000000; */
    padding: 25px;
    text-decoration: none;
    color: #000000;
    list-style: none;
}

.footsocial > ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.copyright{
    margin: auto;
    width: 50%;
    padding-block: 60px;
    border-color: #292929;
    border-top: 1px solid;
}
